@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Insurance Way<br />
    Redmond, VA 93267<br />
    <abbr title="Phone">P:</abbr>
    425.522.0120
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@abc.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@abc.com</a>
</address>