@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ABC INSURANCE COMPANY.NET</h1>
    <p class="lead">ABC INSURANCE.NET is a free insurance estimator for building great automobile insurance for great people!</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
           ABC INSURANCE.NET  gives you a powerful to way to build dynamic automobile insurance.
        </p>
        <p><a class="btn btn-default" href=https://localhost:44359/Insuree/Create > Get started &raquo;</a></p>
    </div>
  
</div>